h1,
h2,
h3,
h4,
p,
button,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (width < 768px) {
  .conti {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.shipsmem a {
  text-decoration: none;
  color: gray;
}
@media (width < 768px) {
  .shipsmem {
    display: flex;
    flex-direction: column;
  }
}
.shipsmem :hover {
  cursor: pointer;
  color: brown;
}

.two i {
  color: brown;
}
.three {
  color: grey;
}
.three a {
  color: grey;
}
.three :hover {
  color: brown;
}

nav i,
a {
  color: grey;
}
.requesta {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 18px;
  width: 200px;
  height: 34px;
  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.four button:hover {
  cursor: pointer;
  background-color: brown;
}

.four {
  display: flex;
  gap: 10px;
  align-items: start;
}

@media (width < 786px) {
  .four {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}
.sodiq {
  cursor: pointer;
}
.olakunle {
  transition: 0.4s ease-in-out;
  transform-origin: top;
  transform: scale(0);
}
.olakunle.active {
  transform: scale(1);
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: whitesmoke;
}

@media (width < 768px) {
  nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
.requestent,
.quotepri {
  width: auto;
  max-width: 430px;
  border-right: 2px solid grey;
}

@media (width < 768px) {
  .requestent,
  .quotepri {
    border-right: none;
    border-bottom: 2px solid grey;
  }
}

.bookrel {
  width: auto;
  max-width: 420px;
}
.sections_ss {
  align-items: end;
  background-color: whitesmoke;
}
.section1 {
  display: flex;
  gap: 20px;
}
@media (width < 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.heee {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa_solid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid grey;
  background: white;
  padding: 20px;
  height: 70px;
  width: 1200px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 14px;
}
@media (width < 768px) {
  .fa_solid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 350px;
    margin-bottom: 30px;
  }
}
.sec a {
  color: grey;
}
.sec :hover {
  cursor: pointer;
  color: brown;
}

/* ================================ */
.gso span {
  color: darkred;
  font-weight: bold;
}

article {
  background-color: #ffffff;
}

article img {
  max-width: 440px;
  height: 400px;
}
.program1,
.cooperate1,
.vj25 {
  background: whitesmoke;
  color: grey;
  max-width: 440px;
  height: 250px;
  padding: 22px;
}
.prog,
.vj,
.coop {
  display: flex;
  flex-direction: column;
}
.airplane {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media (width < 1350px) {
  .airplane {
    display: flex;
    flex-direction: column;
  }
}

.feet {
  color: white;
  background: darkred;
  border-radius: 18px;
  width: 200px;
  height: 34px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.global h1,
p {
  color: grey;
}
.global {
  padding-top: 40px;
  gap: 20px;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.global span {
  color: darkred;
}
.feet:hover {
  cursor: pointer;
  background-color: brown;
}
/* ===================================== */

.pri,
.coun,
.ofthe {
  font-size: 4rem;
  color: white;
}
.lat,
.lati,
.latif {
  color: white;
  font-weight: bold;
}

.olamide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(./private-jet-charter-banner11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: whitesmoke;
  margin-bottom: 60px;
}
@media (width < 768px) {
  .olamide {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
/* ==================================== */
.consis {
  border: 1px solid black;
  border-radius: 18px;
  width: 200px;
  height: 34px;
}
.consis:hover {
  cursor: pointer;
  color: brown;
  border: 1px solid brown;
}
.thecabin,
.toensure {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 10px;
}
.ppppp,
.ourcrew {
  background-color: whitesmoke;
  max-width: 600px;
  height: 408px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  margin-bottom: 60px;
}
.imgvista,
.imgjet_cabin {
  width: 100%;
}
.vista,
.crewensure {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (width < 1200px) {
  .vista {
    display: flex;
    flex-direction: column;
  }
}
footer {
  box-sizing: border-box;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* ================== */
.details {
  border: 1px solid black;
  border-radius: 18px;
  width: 200px;
  height: 34px;
}
.details:hover {
  cursor: pointer;
  color: brown;
  border: 1px solid brown;
}
@media (width < 1200px) {
  .crewensure {
    display: flex;
    flex-direction: column;
  }
}
/* =========================== */

.exper,
.contactus,
.memberships,
.fleets,
.legall {
  font-weight: bold;
  margin-bottom: 10px;
}
.private_word,
.carreers,
.diva,
.privacy_notice,
.class_less {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.private_dining,
.presss,
.secondd,
.cookienot,
.firstd {
  display: flex;
  flex-direction: column;
  padding: 40px;
  font-size: small;
}

.dividend_1 {
  display: flex;
  gap: 18px;
  justify-content: center;
  background-color: darkred;
  padding-top: 10px;
  padding-bottom: 10px;
  /* margin-bottom: 160px; */
}
@media (width<800px) {
  .dividend_1 {
    display: flex;
    flex-direction: column;
  }
}
/* ============================== */
/* ============================== */
.botton2 {
  border: 1px solid black;
  border-radius: 18px;
  width: 200px;
  height: 34px;
  background-color: white;
}
.botton2:hover {
  color: brown;
  border: 1px solid brown;
}
.botton1 {
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 18px;
  width: 200px;
  height: 34px;
  margin-bottom: 10px;
  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.botton1:hover {
  cursor: pointer;
  background-color: brown;
}

.inputtt {
  display: flex;
  align-items: center;
  gap: 8px;
  color: grey;
}
.thisweb,
.pclass {
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: start;
}
@media (width < 800px) {
  .inputtt {
    display: flex;
    flex-direction: column;
  }
}
.lastman {
  display: flex;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  /* position: fixed;
  background-color: white;
  bottom: 0; */
}
@media (width < 850px) {
  .lastman {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

select {
  border-style: none;
  color: grey;
  background: whitesmoke;
}
select:hover {
  cursor: pointer;
  background: darkred;
  color: #ffffff;
}
