h1,
h2,
h3,
h4,
p,
button,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.shipsmem {
  color: grey;
}

.shipsmem :hover {
  cursor: pointer;
  color: brown;
}

nav i,
a {
  color: grey;
}
.requesta {
  background-color: darkred;
  color: white;
  border: none;

  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.four button:hover {
  cursor: pointer;
  background-color: brown;
}

.sodiq {
  cursor: pointer;
}
.olakunle {
  transition: 0.4s ease-in-out;
  transform-origin: top;
  transform: scale(0);
}
.olakunle.active {
  transform: scale(1);
}
nav {
  background-color: whitesmoke;
}
.requestent,
.quotepri {
  width: 100%;
  max-width: 430px;
  border-right: 2px solid grey;
}

@media (width < 768px) {
  .requestent,
  .quotepri {
    border-right: none;
    border-bottom: 2px solid grey;
  }
}

.bookrel {
  width: auto;
  max-width: 420px;
}
.sections_ss {
  background-color: whitesmoke;
}
.section1 {
  display: flex;
  gap: 20px;
}
@media (width < 768px) {
  .section1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}

.fa_solid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  background: white;
  width: 100%;
  max-width: 1200px;
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 14px;
}
@media (width < 576px) {
  .fa_solid {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 220px;
    height: 350px;
    margin-bottom: 30px;
  }
}
.sec a {
  color: grey;
}
.sec :hover {
  cursor: pointer;
  color: brown;
}

/* ================================ */
.gso span {
  color: darkred;
  font-weight: bold;
}

article {
  background-color: #ffffff;
  align-items: center;
}

article img {
  width: 100%;
  max-width: 440px;
  aspect-ratio: 9/8;
}
.program1,
.cooperate1,
.vj25 {
  background: whitesmoke;
  color: grey;
  width: 100%;
  max-width: 440px;
  height: 250px;
  padding: 22px;
}
.prog,
.vj,
.coop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.airplane {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width > 768px) {
  .airplane {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
}

.feet {
  color: white;
  background: darkred;
  border-radius: 18px;
  width: 200px;
  height: 34px;
  border: none;
  margin-bottom: 20px;
  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.global h1,
p {
  color: grey;
}
.global {
  padding-top: 40px;
  gap: 20px;
  max-width: 1000px;
  margin-top: 50px;
  margin-bottom: 100px;
}
.global span {
  color: darkred;
}
.feet:hover {
  cursor: pointer;
  background-color: brown;
}
/* ===================================== */

.pri,
.coun,
.ofthe {
  font-size: 4rem;
  color: white;
}
.lat,
.lati,
.latif {
  color: white;
  font-weight: bold;
}

.olamide {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-image: url(./private-jet-charter-banner11.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-color: whitesmoke;
  margin-bottom: 60px;
}
@media (width < 768px) {
  .olamide {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
}
/* ==================================== */
.consis {
  border: 1px solid black;
  border-radius: 18px;
  width: 100%;
  max-width: 200px;
  height: 34px;
}
.consis:hover {
  cursor: pointer;
  color: brown;
  border: 1px solid brown;
}
.slash {
  color: darkred;
}
.ppppp,
.ourcrew {
  background-color: whitesmoke;
}

.imgvista,
.imgjet_cabin {
  width: 100%;
  max-width: 800px;
  aspect-ratio: 12/9;
}

footer {
  box-sizing: border-box;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
/* ================== */
.details {
  border: 1px solid black;
  border-radius: 18px;
  width: 100%;
  max-width: 200px;
  height: 34px;
}
.details:hover {
  cursor: pointer;
  color: brown;
  border: 1px solid brown;
}
@media (width < 1200px) {
  .crewensure {
    display: flex;
    flex-direction: column;
  }
}
/* =========================== */

.dividend_1 {
  background-color: darkred;
}
.divid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (width > 800px) {
  .divid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

/* ============================== */

.botton2 {
  border: 1px solid black;
  background-color: white;
}
.botton2:hover {
  color: brown;
  border: 1px solid brown;
}
.botton1 {
  background-color: darkred;
  color: white;
  border: none;
  box-shadow: 11px 9px 38px -1px rgba(0, 0, 0, 0.16);
}
.botton1:hover {
  cursor: pointer;
  background-color: brown;
}

select {
  border-style: none;
  color: grey;
  background: whitesmoke;
}
select:hover {
  cursor: pointer;
  background: darkred;
  color: #ffffff;
}
.webss {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width > 900px) {
  .webss {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
